<!-- <p>contact works!</p> -->
<h1 class="lines d-flex justify-content-center mt-4">CONTACT SECTION</h1>
<h6 class="d-flex justify-content-center"><i class="starr  fa-solid fa-star p-2 mb-2 "></i></h6>

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <div class="inputs d-flex justify-content-center">

                <label for="name" class="label ">userName:</label>
                <input id="name" type="text" class="p-2 m-3 w-50 form-control border-top-0 border-start-0 border-end-0"
                    placeholder="userName">
               

            </div>
        </div>
        <div class="col-12">
            <div class="inputs d-flex justify-content-center">
                <label for="age" class="label">userAge: </label>
                <input id="age" type="number" class="p-2 m-3 w-50 form-control border-top-0 border-start-0 border-end-0"
                    placeholder="userAge">
            </div>
        </div>
        <div class="col-12">
            <div class="inputs d-flex justify-content-center">
                <label for="email" class="label">userEmail: </label>
                <input id="email" type="email" class="p-2 m-3 w-50 form-control border-top-0 border-start-0 border-end-0"
                    placeholder="userEmail">

            </div>
        </div>
        <div class="col-12">
            <div class="inputs d-flex justify-content-center">

                <label for="password" class="label"> userPassword: </label>
                <input id="password" type="password" class="p-2 m-3 w-50 form-control border-top-0 border-start-0 border-end-0"
                    placeholder="userPassword">

            </div>
        </div>
        <button class="btn bttn">Send Message</button>
    </div>
</div>