<!-- <p>portfolio works!</p> -->
<h1 class=" lines d-flex justify-content-center mt-4">PORTFOLIO COMPONENT</h1>
<h6 class="d-flex justify-content-center"><i class="starr  fa-solid fa-star p-2 mb-2 "></i></h6>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 p-4">
            <div class="items position-relative">
                <img  src="../assets/images/poert1.png" class="d-block w-100 rounded-4" alt="portfolio images">
                <div class="layer rounded-4"><i class="fa-solid fa-plus"></i></div>
            </div>
        </div>
        <div class="col-12 col-md-4 p-4">
            <div class="items position-relative">
                <img src="../assets/images/port2.png" class="d-block w-100 rounded-4" alt="portfolio images">
                <div class="layer rounded-4"><i class="fa-solid fa-plus"></i></div>
            </div>
        </div>
        <div class="col-12 col-md-4 p-4">
            <div class="items position-relative">
                <img src="../assets/images/port3.png" class="d-block w-100 rounded-4" alt="portfolio images">
                <div class="layer rounded-4"><i class="fa-solid fa-plus"></i></div>
            </div>
        </div>
        <div class="col-12 col-md-4 p-4">
            <div class="items position-relative">
                <img src="../assets/images/poert1.png" class="d-block w-100 rounded-4" alt="portfolio images">
                <div class="layer rounded-4"><i class="fa-solid fa-plus"></i></div>
            </div>
        </div>
        <div class="col-12 col-md-4 p-4">
            <div class="items position-relative">
                <img src="../assets/images/port2.png" class="d-block w-100 rounded-4" alt="portfolio images">
                <div class="layer rounded-4"><i class="fa-solid fa-plus"></i></div>
            </div>
        </div>
        <div class="col-12 col-md-4 p-4">
            <div class="items position-relative">
                <img src="../assets/images/port3.png" class="d-block w-100 rounded-4" alt="portfolio images">
                <div class="layer rounded-4"><i class="fa-solid fa-plus"></i></div>
            </div>
        </div>
      
       
    </div>
</div>