<!-- <p>nav works!</p> -->
<div class="main-nav">
    <nav class="navbar text-white ">
        <div class="container">
          <a class="navbar-brand text-white" routerLink="home">START FRAMEWORK</a>
          <ul class="nav-link d-flex ms-auto ">
            <li class="p-3 mt-2 me-4 btn" routerLink="about" routerLinkActive="color rounded rounded-4"> ABOUT</li>
            <li class="p-3 mt-2 me-4 btn" routerLink="portfolio" routerLinkActive="color rounded rounded-4">PORTFOLIO </li>
            <li class="p-3 mt-2 me-4 btn" routerLink="contact" routerLinkActive="color rounded rounded-4">CONTACT</li>
          </ul>
        </div>
      </nav>
</div>

